{% extends "base.html" %}


{% block content %}

<div class="main-section" style="background-color: rgb(65, 55, 55);">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder" style="min-height:auto!important; width:447px">
                        <div class="user-holder">
                    <h4 class="text-center" style="margin-bottom: 0;">S</h4>
                    <p class="text-center">Order food from you favourite restaurant.</p>
                    <hr>
                    <div id="restaurant-sets-holder">
                        <form action="{% url 'resetpassword' %}" class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="register-select-package.html" enctype="multipart/form-data">
                               <!-- we are using enctype here because this form will take file so you need to encode for saving  -->
                               {% csrf_token %}
                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                
                                                        <div class="col-lg-20 col-md-20 col-sm-12 col-xs-20">
                                                            <div class="field-holder">
                                                                <label>password</label>
                                                                <input type="password" name="PASS1" placeholder="enter password here">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-20 col-md-20 col-sm-12 col-xs-20">
                                                            <div class="field-holder">
                                                                <label>Confirm-password</label>
                                                                <input type="password" name="CPASS">
                                                            </div>
                                                        </div>
                                                      
                                                       
                                                       
                                                       

                                                        

                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>


                        
                                <li>

       
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-holder">

                                           
                                                <div class="payment-holder">
                                                    <input type="submit"  id="btn-next-restaurant-information" class="bgcolor">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h3>

                                                {% include "includes/alert.html" %}





                                                




                                            </h3>
                                        </div>
                                    </div>




                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->







{% endblock %}